/* 省略号
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
word-break: break-all; */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #f5f5f5;
    height: 100%;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/* 头部 */
.header {
    border-bottom: 2px solid #ff6700;
    height: 100px;
    line-height: 100px;
}
.container {
   width: 1200px;
   margin: 0 auto;
}
.container h1{
    font-size: 30px;
    color: #666;
}

/* 购物车 */
.car {
    width: 1200px;
    margin: 20px auto;
    background: #FFF;
}
.head_row {
    height: 70px;
    line-height: 70px;
}

.left {
    float: left;
}
.car .check {
    width: 50px;
}
.car .check i {
    color: #fff;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
    font-family: "iconfont";
}
/* 复选框样式 */
.i_acity {
    border-color: #ff6700 !important;
    background-color: #ff6700 !important;
}
.i_acity2 {
    border-color: #ff6700 !important;
    background-color: #ff6700 !important;
}

.car .img {
    width: 190px;
}
.car .img img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 3px auto;
}
.car .name {
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.car .name span {
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.car .price {
    width: 144px;
    text-align: right;
    padding-right: 84px;
}
.car .price span {
    color: #ff6700;
    font-size: 16px;
}
.car .number {
    width: 150px;
}
.car .subtotal {
    width: 130px;
}
.car .ctrl {
    width: 105px;
    padding-right: 25px;
    text-align: center;
}
.car .ctrl a {
    font-size: 20px;
    cursor: pointer;
    display: block;
    width: 26px;
    height: 26px;
    margin: 30px auto;
    line-height: 26px;
}
.car .ctrl a:hover {
    color: #FFF;
    background: #ff6700;
    border-radius: 50%;
}
.row {
    height: 86px;
    line-height: 86px;
    padding: 15px 0;
    margin: 0px;
}
.item_count_i {
    height: 85px;
    width: 10%;
    /*border: 1px solid black;*/
    float: left;
    margin-right: 25px;
}
.num_count {
    width: 150px;
    height: 40px;
    border: 1.2px solid #E0E0E0;
    float: right;
    margin-top: 21px;
}
.count_i {
    width: 30%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size: 21px;
    color: #747474;
}
.count_i:hover {
    width: 30%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size: 21px;
    color: #747474;
    background: #E0E0E0;
    cursor: pointer;
}
.c_num {
    width: 40%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #747474;
}
.count_d {
    width: 30%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size: 25px;
    color: #747474;
}
.count_d:hover {
    width: 30%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size: 25px;
    color: #747474;
    background: #E0E0E0;
    cursor: pointer;
}


/* 结算 */
.sum_area{
    width: 1200px;
    height: 60px;
    background: white;
    margin: 20px auto;
}
#pay {
    width: 250px;
    height: 60px;
    text-align: center;
    float: right;
    line-height: 60px;
    font-size: 19px;
    background: #FF4B00;
    color: white;
}
#pay_amout {
    width: 250px;
    height: 60px;
    text-align: center;
    float: right;
    line-height: 60px;
    font-size: 16px;
    color: #FF4B00;
}
#pay_amout #price_num {
    width: 100px;
    height: 60px;
    font-size: 25px;
    color: #FF4B00;
    /*  float: left;*/
}
